<div class="media">
    <img src="https://st3.depositphotos.com/6672868/14376/v/450/depositphotos_143767633-stock-illustration-user-profile-group.jpg" class="mr-3"  style="width:30px" alt="...">
    <div class="media-body">
      <h5 class="mt-0"><%= comment.username %></h5>
      <%= comment.commentText %>
      <%if(logged){%>
        <%if(comment.username== username){%>
          <button class="btn btn-primary mb-3" data-toggle="modal" data-target="#editCommentModal<%-comment.commentID%>">edit</button>
          <button class="btn btn-primary mb-3" data-toggle="modal" data-target="#deleteCommentModal<%-comment.commentID%>">delete</button>
        <%}%>
      <%}%>
    </div>   
  </div>


     <!--  update  comment Modal -->
     <div class="modal fade" id="editCommentModal<%-comment.commentID%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLongTitle1">edit comment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/comments/<%-comment.commentID%>?method=PUT" method="POST" >
            <div class="modal-body">

              <input type="hidden" name="commentID" value="<%- comment.commentID %>">
  
              <div class="form-group">
                <label for="inputNewtext">New Text</label>
                <textarea class="form-control" name="newText" id="inputNewText" rows="3"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>            
              <button type="submit" class="btn btn-primary">edit</button>
            </div>
          </form>        
        </div>
      </div>
    </div>

         <!--  delete comment Modal -->
         <div class="modal fade" id="deleteCommentModal<%-comment.commentID%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ModalLongTitle1">delete comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form action="/comments/<%-comment.commentID%>?method=DELETE" method="POST" >
                <div class="modal-body">
                  <input type="hidden" name="commentID" value="<%- comment.commentID %>">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>            
                  <button type="submit" class="btn btn-primary">delete</button>
                </div>
              </form>        
            </div>
          </div>
        </div>