<div class="media">
    <img src="https://st3.depositphotos.com/6672868/14376/v/450/depositphotos_143767633-stock-illustration-user-profile-group.jpg" class="mr-3"  style="width:30px" alt="...">
    <div class="media-body">  
      <div class="row">
        <div class="col-8">
          <h5 class="mt-0">@<%= comment.username %></h5>
          <%= comment.commentText %>
        </div>
        <div class="col-3">
          <%= comment.uploadDate%>
        </div>
        <div class="col-1">
          <div class="row">
          <%if(logged){%>
            <%if(comment.username== username){%>
            <button class="btn btn-warning btn-sm" name ="editCommentbutton" data-toggle="modal" data-target="#editCommentModal"
                  data-id="<%-comment.commentID%>"
                  data-text="<%-comment.commentText%>">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                  </svg>
            </button>
            <form method="POST" action="/comments/<%- comment.commentID%>?method=DELETE">
                    <input type="hidden" name="commentID" value="<%- comment.commentID %>">
                    <button type="submit" class="btn btn-danger btn-sm">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                      </svg>
                    </button>
            </form> 
                 
              <%}%>
            <%}%>
          </div>
        </div>     
      </div> 
    </div>   
  </div>


     <!--  update  comment Modal -->
     <div class="modal fade" id="editCommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLongTitle1">edit comment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="commentModalForm" method="POST" >
            <input type="hidden" name="method" value="PUT">
            <div class="modal-body">

           <div class="form-group">
                <label for="inputNewtext">New Text</label>
                <textarea class="form-control" name="comment" id="comment" rows="3"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">cancel</button>            
              <button type="submit" class="btn btn-success">
                edit
              </button>
             
            </div>
          </form>        
        </div>
      </div>
    </div>