<div class="media">
    <img src="https://st3.depositphotos.com/6672868/14376/v/450/depositphotos_143767633-stock-illustration-user-profile-group.jpg" class="mr-3"  style="width:30px" alt="...">
    <div class="media-body">
      <h5 class="mt-0"><%= comment.username %></h5>
      <%= comment.commentText %>
      <%= comment.uploadDate%>
      <%if(logged){%>
        <%if(comment.username== username){%>
          <button class="btn btn-primary mb-3" name ="editCommentbutton" data-toggle="modal" data-target="#editCommentModal"
            data-id="<%-comment.commentID%>"
            data-text="<%-comment.commentText%>"
            >edit</button>
            <form method="POST" action="/comments/<%- comment.commentID%>?method=DELETE">
              <input type="hidden" name="commentID" value="<%- comment.commentID %>">
              <button type="submit" class="btn-primary">delete</button>
            </form>         
        <%}%>
      <%}%>
    </div>   
  </div>


     <!--  update  comment Modal -->
     <div class="modal fade" id="editCommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLongTitle1">edit comment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="commentModalForm" method="POST" >
            <input type="hidden" name="method" value="PUT">
            <div class="modal-body">

           <div class="form-group">
                <label for="inputNewtext">New Text</label>
                <textarea class="form-control" name="comment" id="comment" rows="3"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>            
              <button type="submit" class="btn btn-primary">edit</button>
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </div>
          </form>        
        </div>
      </div>
    </div>