<%- include('header', {title, active: 'dashboard'}); -%>
<link rel="stylesheet" href="/stylesheets/dashboard.css">
<%if(creator==1){%>

 
<div class=" container">
<main role="main" class="col-md-9 ml-sm-auto col-lg-12 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"><%=username%></h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        
        <a class="btn btn-primary" href="/dashboard/addPodcast" role="button">add Podcast</a>
    
       <!-- <button class="btn btn-primary mb-3" data-toggle="modal" data-target="#addEpisodeModal">Add Episode</button>-->
      </div>
    </div>
  </div>

    <h2>Your Podcasts</h2>
  
    
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>#</th>
                <th>Image</th>
                <th>Title</th>
                <th>Description</th>
                <th>Category</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody> 
              <% podcasts.forEach((podcast) => { %>
              <tr>
                <td> <%= podcast.podcastID %></td>
                <td>
                  <div class="tableimage">        
                    <a href = "/podcasts/<%- podcast.podcastID%>">
                      <img src="/<%- podcast.image %>"  class="img-thumbnail "  alt="..." height="50">
                    </a> 
                </div>   
                </td>
                <td><%= podcast.title %></td>
                <td><%= podcast.description%></td>
                <td><%= podcast.category %></td>
                <td >
                  
                  
                    <a href= "/dashboard/updatePodcast/<%- podcast.podcastID%>" type="submit" class="btn btn-warning btn-sm">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                      </svg>
                    </a>
                  
              
                  
                  <button class="btn btn-danger btn-sm" name="podcastDelBtn" data-toggle="modal" data-target="#deletePodcastModal" data-id="<%-podcast.podcastID%>" data-url="<%-podcast.image%>">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                    </svg>
                  </button>
 
                    <a href= "/dashboard/<%- podcast.podcastID%>/addEpisode" type="submit" class="btn btn-primary btn-sm"> 
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-folder-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M9.828 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91H9v1H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181L15.546 8H14.54l.265-2.91A1 1 0 0 0 13.81 4H9.828zm-2.95-1.707L7.587 3H2.19c-.24 0-.47.042-.684.12L1.5 2.98a1 1 0 0 1 1-.98h3.672a1 1 0 0 1 .707.293z"/>
                        <path fill-rule="evenodd" d="M13.5 10a.5.5 0 0 1 .5.5V12h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V13h-1.5a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
                      </svg>
                    </a>
                  
                </td>
              </tr>
              <% }); %> 
            </tbody>
          </table>
        </div>

        <h2>Your Episodes</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>#</th>
                <th>Podcast</th>
                <th>Title</th>
                <th>Description</th>
                <th>Sponsor</th>
                <th>Price</th>
                <th>Actions</th>   
              </tr>
            </thead>
            <tbody> 
              <% episodes.forEach((episode) => { %>
              <tr>
                <td> <%= episode.episodeID %></td>
                <td><%= episode.podcast %></td>
                <td><%= episode.title %></td>
                <td><%= episode.description%></td>
                <td><%= episode.sponsor%></td>
                <td><%= episode.price%></td>
                <td>
                  
              
                    <a href= "/dashboard/updateEpisode/<%- episode.episodeID%>" type="submit" class="btn btn-warning btn-sm">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                      </svg>
                  </a>

                  <button class="btn btn-danger btn-sm " name="episodeDelBtn" data-toggle="modal" data-target="#deleteEpisodeModal" data-id="<%-episode.episodeID%>" data-url="<%-episode.file%>">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                    </svg>  
                  </button>
                </td>
              </tr>
              <% }); %> 
            </tbody>
          </table>
        </div>

  </main>
</div>




  <!--delete Podcast Modal-->
 
     <div class="modal fade" id="deletePodcastModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLongTitle">podcast delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="podcastDeleteForm" method="POST" >
            <input type="hidden" name="method" value="DELETE">
            <input type="hidden" name="oldFile" id="oldImageHidden">
            <div class="modal-body">
              <p>Are you sure you want to delete?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>            
              <button type="submit" class="btn btn-primary">delete</button>       
            </div>
          </form>        
        </div>
      </div>
    </div>

     <!--delete Episode Modal-->
 
     <div class="modal fade" id="deleteEpisodeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLongTitle">episode delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="episodeDeleteForm" method="POST" >
            <input type="hidden" name="method" value="DELETE">
            <div class="modal-body">
              <p>Are you sure you want to delete?</p>
            </div>
            <div class="modal-footer">
              <input type="hidden" name="oldfile" id="oldFileHidden">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>            
              <button type="submit" class="btn btn-primary">delete</button>       
            </div>
          </form>        
        </div>
      </div>
    </div>

<%}%>

<%- include('footer'); -%>


