
      <%- include('header', { title, active: 'episode'}); -%>
      <h5 class="card-title"><%= episode.title %></h5>
      <p class="card-text"><%= episode.description %></p>
      <p class="card-text"><%= episode.price %></p>
      <p class="card-text"><%= episode.sponsor %></p> 
      <%if(logged){%>
      <button class="btn btn-primary mb-3" data-toggle="modal" data-target="#buyEpisodeModal<%-episode.episodeID%>">buy</button>
      <%}else{%>
        <a href="/login">
          <button type="submit" class="btn btn-primary">buy</button>
        </a>
        
        <%}%>


        <%if(logged){%>
            <%if(favorite == undefined){%>
              <form method="POST" action="/episode/favorite">
                <input type="hidden" name="episodeID" value="<%- episode.episodeID %>">
                <button type="submit" class="btn btn-primary">favorite</button>
                </form>
            
            <%}else{%>
              
                <form method="POST" action="/delete/favorite/<%- favorite.favoriteID %>?method=DELETE">
                  <input type="hidden" name="favoriteID" value="<%- favorite.favoriteID %>">
                  <button type="submit" class="btn btn-primary">remove favorite</button>
                  </form>
            <%}%>
      <%}else{%>
        <a href="/login">
          <button type="submit" class="btn btn-primary">favorite</button>
        </a>
        <%}%>
      <tbody>

        <%if(logged){%>
            <form name = "comment" method="POST" action ="/episode/comment">
              <input type ="hidden" name = "episodeID" id= "episodeID" value =<%- episode.episodeID%>
                  <div class="form-group">
                    <label for="Textarea">Insert your comment</label>
                    <input type ="Text" name = "text" class = "form-constrol" id="text" placeholder= "text" required>
                  </div>

                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <%}else{%>
                  <a href="/login">
                    <button type="submit" class="btn btn-primary">login to comment</button>
                  </a>
                  <%}%>

            <% comments.forEach((comment) => { %>
                  <%- include('comment-partial', {comment}); -%>
                <% }); %>
         
      </tbody>

      <!--  buy Episode Modal -->
     <div class="modal fade" id="buyEpisodeModal<%-episode.episodeID%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLongTitle1">episode purchase</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/episode/purchase" method="POST" >
            <div class="modal-body">

              <input type="hidden" name="episodeID" value="<%- episode.episodeID %>">

              <div class="form-group">
                <label for="inputName">name</label>
                <input type="text" name="newName" class="form-control" id="inputName" placeholder="Insert your Name" required>
              </div>
              <div class="form-group">
                <label for="inputSurname">surname</label>
                <input type="text" name="newSurname" class="form-control" id="inputSurname" placeholder="Insert your Surname" required>
              </div>
              <div class="form-group">
                <label for="inputCardType">card type</label>
                <input type="text" name="newCardType" class="form-control" id="inputCardType" placeholder="Insert Card Type" required>
              </div>
              <div class="form-group">
                <label for="inputCardNumber">card number</label>
                <input type="number" name="newCardNumber" class="form-control" id="inputCardNumber" placeholder="Insert your card number" required>
              </div>
              <div class="form-group">
                <label for="inputCardCCV">card ccv</label>
                <input type="number" name="newCardCCV" class="form-control" id="inputCardCCV" placeholder="Insert your card CCV" required>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>            
              <button type="submit" class="btn btn-primary">Buy</button>
            </div>
          </form>        
        </div>
      </div>
    </div>
