<%- include('header', { title, active: 'episodes'}); -%>



<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Album example</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row"> 
        <% episodes.forEach((episode) => { %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <p class="card-text">descizione</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <%})%>
      </div>
    </div>
  </div>

</main>










































<div class="container-fluid mt-3">
  <head>
    <div class="jumbotron">
      <h1 class="display-4"><%= podcast.title %></h1>
      <p class="lead"><%= podcast.description %></p>
      <hr class="my-4">
      <%if (logged){%>
       <%if(following == undefined){%>
        <form method="POST" action="/follows">
          <input type="hidden" name="podcastID" value="<%- podcast.podcastID %>">
          <button type="submit" class="btn btn-primary">follow</button>
        </form>
          
       
        <%}else{%>
          <form method="POST" action="/follows/<%-following.followID%>?method=DELETE" name="followedDelete">
            <input type="hidden" name="followID" value="<%- following.followID %>">
            <button type="submit" class="btn btn-primary">unfollow</button>
          </form>
            
            <% } %>
        <%}else{%>
          <a href="/login">
            <button type="submit" class="btn btn-primary">follow</button>
          </a>
        <%}%>
    </div>
  </head>
    <div class="row">
      <div class = "col">
        <tbody>
          <% episodes.forEach((episode) => { %>
            <%- include('episode-partial', {episode}); -%>
          <% }); %>
        </tbody>
      </div>  
    </div>
  </div>

<%- include('footer'); -%>
