<%- include('header', { title, active: 'episodes'}); -%>
<main class="container-fluid mt-3">
  <head>
    <div class="jumbotron">
      <h1 class="display-4"><%= podcast.title %></h1>
      <p class="lead"><%= podcast.description %></p>
      <hr class="my-4">
      <form method="POST" action="/podcast/follow">
        <input type="hidden" name="podcastID" value="<%- podcast.podcastID %>">
        <button type="submit" class="btn btn-primary">follow</button>
    </div>
  </head>
    <div class="row">
      <div class = "col">
        <tbody>
          <% episodes.forEach((episode) => { %>
            <%- include('episode-partial', {episode}); -%>
          <% }); %>
        </tbody>
      </div>  
    </div>
</main>

<%- include('footer'); -%>
