<%- include('header', { title, active: 'episodes'}); -%>
<main class="container-fluid mt-3">
  <head>
    <div class="jumbotron">
      <h1 class="display-4"><%= podcast.title %></h1>
      <p class="lead"><%= podcast.description %></p>
      <hr class="my-4">
      <%if (logged){%>
       <%if(following == undefined){%>
        <form method="POST" action="/follows">
          <input type="hidden" name="podcastID" value="<%- podcast.podcastID %>">
          <button type="submit" class="btn btn-primary">follow</button>
        </form>
          
       
        <%}else{%>
          <form method="POST" action="/follows/<%-following.followID%>?method=DELETE" name="followedDelete">
            <input type="hidden" name="followID" value="<%- following.followID %>">
            <button type="submit" class="btn btn-primary">unfollow</button>
          </form>
            
            <% } %>
        <%}else{%>
          <a href="/login">
            <button type="submit" class="btn btn-primary">follow</button>
          </a>
        <%}%>
    </div>
  </head>
    <div class="row">
      <div class = "col">
        <tbody>
          <% episodes.forEach((episode) => { %>
            <%- include('episode-partial', {episode}); -%>
          <% }); %>
        </tbody>
      </div>  
    </div>
</main>

<%- include('footer'); -%>
