<div class="card mt-4 mr-4 ml-2" style="width: 20rem;">
  <div class="card-body">
    <h5 class="card-title"><%= episode.title %></h5>
    <p class="card-text"><%= episode.description %></p>
    <p class="card-text"><%= episode.price %></p>
    <p class="card-text"><%= episode.sponsor %></p> 
    <a href ="/episodes/<%- episode.episodeID%>" >
      <button class="btn btn-primary">Watch</button>
    </a>
  </div>
</div>