<%- include('header', {title, active: 'homepage'}); -%>

<aside>
  <h1><%=user.username%></h1>
  <h3><%=user.email%></h3>
</aside>


<main >
  <div class="col">
  <div class="row">
    
     
    <% podcasts.forEach((podcast) => { %>
     
      <div class="card mt-4 mr-4 ml-2" >
        <div class="card-body">
          <h5 class="card-title"><%= podcast.title %></h5>
          <a href = "/podcasts/<%- podcast.podcastID%>">
            <img src="/<%-podcast.image %>" class="card-img-top" alt="...">
          </a>
          <p class="card-desc"><%= podcast.description %></p>
          <p class="card-cat"><%= podcast.category %></p>
          <form method="POST" action="/delete/follow/<%-podcast.podcastID%>?method=DELETE" name="followedDelete">
            <input type="hidden" name="followID" value="<%- podcast.followID %>">
            <button type="submit" class="btn btn-primary">unfollow</button>
          </form>
        </div>
      </div>  
 
    <% }); %> 
  </div>  
 
  <div class="row">
   
    <% episodes.forEach((episode) => { %>
      <div class="card mt-4 mr-4 ml-2" >
        <div class="card-body">
          <h5 class="card-title"><%= episode.title %></h5>
          <p class="card-text"><%= episode.description %></p>
          <p class="card-text"><%= episode.price %></p>
          <p class="card-text"><%= episode.sponsor %></p> 
          <p class="card-text"><%= episode.episodeID %></p> 
          <a href ="/episodes/<%-episode.episodeID%>" >
            <button type ="submit" class="btn btn-primary">Watch</button>
          </a>
        </div>
      </div>
    </div>
  </div>
   <!--   <%- include('episode-partial', {episode}); -%>  -->              
      <% }); %>  
  
    </main>

<%- include('footer'); -%>
