<div class="card text-center ">
  <div class="card-body ">
    <a href = "/podcasts/<%- podcast.podcastID%>" >
      <img src="/<%-podcast.image %>" class="card-img-top" alt="...">
    </a> 
    <h5 class="card-title"><%= podcast.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted">by: <%=podcast.creator%></h6>
    
    
      <p class="card-text">category: <%= podcast.category %></p>
    
  </div>
</div>
