<%- include('header', {title, active: 'podcasts'}); -%>
<main class="container-fluid " id="main-cont">
  <div class="row">
    <h1 class="page-name "><%=pagecat%></h1>
  </div>


      <div class="row justify-content-center">
       
        <div class="card-deck">
                <% podcasts.forEach((podcast) => { %>
                  <%- include('podcast-partial', {podcast}); -%>
                <% }); %>
      </div>
            
        
      </div>
  
  

</main>
  
<%- include('footer'); -%>

<!--
  <div class="col-2">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"></nav>
      <div class="title">
      <div class="line"></div>
      <div class="pod">categories</div>
      <div style="clear:both;"></div>
      <div class="b-line"></div>
    </div>
    <ul>
      <li>     
        <a href="/">All</a>
      </li>
      <% categories.forEach((category) => { %>
        <li>     
          <a href="/categories/<%-category.name%>"><%=category.name%></a>
          <input type="hidden" name="category" value="<%- category.name %>">
        </li>
        <%});%>
    </ul> 
  </nav>
    
  </div>
</div>
-->