<%- include('header', {title, active: 'podcasts'}); -%>




<aside>
  <div class="title">
    <div class="line"></div>
    <div class="pod">categories</div>
    <div style="clear:both;"></div>
    <div class="b-line"></div>
  </div>
  <ul>
    <li>     
      <a href="/">All</a>
    </li>
    <% categories.forEach((category) => { %>
      <li>     
        <a href="/categories/<%-category.name%>"><%=category.name%></a>
        <input type="hidden" name="category" value="<%- category.name %>">
      </li>
      <%});%>
  </ul> 
</aside>

<main >
    <div class="row">
          
            <tbody>
              <% podcasts.forEach((podcast) => { %>
                <%- include('podcast-partial', {podcast}); -%>
              <% }); %>
            </tbody>
          
      
    </div>
</main>

<%- include('footer'); -%>
