<div class="card mt-4 mr-4 ml-2">
  <div class="card-body ">
    <a href = "/podcasts/<%- podcast.podcastID%>" calls="thumbnail"><img src="/<%-podcast.image %>" class="card-img-top" alt="..."></a> 
    <h5 class="card-title"><%= podcast.title %></h5>
    <p class="card-cat"><%= podcast.category %></p>
    <div class="card-desc text-truncate"><%= podcast.description %></div>
  </div>
</div>
