<%- include('header', {title, active: 'podcasts'}); -%>
<div class="container-fluid">
  <div class="row  ">
  <div class="col-2">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"></nav>
      <div class="title">
      <div class="line"></div>
      <div class="pod">categories</div>
      <div style="clear:both;"></div>
      <div class="b-line"></div>
    </div>
    <ul>
      <li>     
        <a href="/">All</a>
      </li>
      <% categories.forEach((category) => { %>
        <li>     
          <a href="/categories/<%-category.name%>"><%=category.name%></a>
          <input type="hidden" name="category" value="<%- category.name %>">
        </li>
        <%});%>
    </ul> 
  </nav>
    
  </div>

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">




      <div class="row justify-content-center">
            
              <tbody>
                <% podcasts.forEach((podcast) => { %>
                  <%- include('podcast-partial', {podcast}); -%>
                <% }); %>
              </tbody>
            
        
      </div>
    </main>
  
  </div>
</div>
</div>
  
<%- include('footer'); -%>
