<div class="card mt-4 mr-4 ml-2">
  <div class="card-body">
    <a href = "/podcasts/<%- podcast.podcastID%>" calls="thumbnail">
      <img src="/<%-podcast.image %>" class="card-img-top" alt="...">
      </a> 
    <div class="card-title"><%= podcast.title %></div>
   
  <div class="card-cat"><%= podcast.category %></div>
    <div class="card-desc"><%= podcast.description %></div>

  </div>
</div>
