<%- include('header', {title, active: 'podcasts'}); -%>
<h1><%=logged%></h1>

<!--<div class="container-fluid">
  <div class="row">
    <form calss="form-inline md-form mr-auto mb-4" action="/search" method="POST">
      <div>
        <input class="form-controll mr-sm-2" type="text" name="searchText" placeholder="search" aria-label="Search">
      </div>
      <div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="buttoon" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="category" id="All" value="All" checked>
              <label class ="form-check-label" for="All">All</label>
            </div>
            <%for(let i =0; i < categories.lenght; i++){%>
              <div class="form-check-input" type="radio" name="category" id="<%-categories[i].name%>" value="<%=categories[i].name%>">
              <label class ="form-check-label" for="<%-categories[i].name%>"><%-categories[i].name%></label>
              </div>
              <%}%>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>-->

<nav class="navbar navbar-light bg-light">
  <form class="form-inline" action="/search" method="GET">
    <input class="form-control mr-sm-2" type="search" name="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <label for="inputNewCategory"> </label>   
      <select class="custom-select" name="newCategory" id="inputNewCategory">
        <option value="All" selected>All</option>  
        <% for(let i=0; i < categories.length; i++){%>
          <option value ="<%- categories[i].name %>" ><%= categories[i].name%> </option>
        <%}%>
      </select>  

  </form>
</nav>

<div class="rightside-pannel">
  <div class="title">
    <div class="line"></div>
    <div class="pod">categories</div>
    <div style="clear:both;"></div>
    <div class="b-line"></div>
  </div>
  <ul>
    <li>     
      <a href="/">All</a>
    </li>
    <% categories.forEach((category) => { %>
      <li>     
        <a href="/podcasts/category/<%-category.name%>"><%=category.name%></a>
        <input type="hidden" name="category" value="<%- category.name %>">
      </li>
      <%});%>
  </ul>
</div>

<main class="container-fluid mt-3">
    <div class="row">
          
            <tbody>
              <% podcasts.forEach((podcast) => { %>
                <%- include('podcast-partial', {podcast}); -%>
              <% }); %>
            </tbody>
          
      
    </div>
</main>

<%- include('footer'); -%>
