<%- include('header', {title, active: 'Search'}); -%>
<h1><%=logged%></h1>

<main class="container-fluid mt-3">
    <div class="row col-6">
          
            <tbody>
                <h3>Found podcasts</h3>
              <% podcasts.forEach((podcast) => { %>
                <%- include('podcast-partial', {podcast}); -%>
              <% }); %>
            </tbody>
            <tbody>
                <h3>Found episodes</h3>
                <% episodes.forEach((episode) => { %>
                  <%- include('episode-partial', {episode}); -%>
                <% }); %>
              </tbody>      
    </div>
</main>

<%- include('footer'); -%>

